@import "tailwindcss";

/* .active{
    color: #0ea5ed !important;
} */

.active {
  color: #0ea5ed !important;
  background: #fff;
}

.swal2-toast {
  padding: 10px !important;
  width: auto !important;
}