@import 'tailwindcss';

/* .active{
    color: #0ea5ed !important;
} */

.active {
  color: #0ea5ed !important;
  background: #fff;
}

.signin{
    background-image: url("/src/images/loginbg.png");
    background-position: center;
    background-repeat: no-repeat;
    /* height: auto; */
    background-size: cover;
}